#
# Network information
# If ip is set to 0.0.0.0, or empty, myicqd will listen on any NICs on your computer.
#
[myicq]
ip = 
port = 
enable_register = 1


#
# log file
# Set level to 0 to disable logging anything, and 4 is only for debugging purposes
# If log_file is empty, myicqd will output to stderr
#
[log]
file = c:\myicqd.log
level = 1


#
# MySQL database information
#
[mysql]
host =
port =
db = myicq
user = myicq
passwd = myicq


#
# server-to-server protocol
#
# You must set 'domain' to the fullly-qualified domain name of your own host
#
[s2s]
enable = 1
domain = myicq.cosoft.org.cn
description = cosoft


#
# group plugins
#
# set 'dir' to the plugins directory which contains groups.cnf and all of the plugins
#
[group]
dir = d:\vcproject\myicq\myicqd\groups\
